@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  background-image: url('../../public/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* white-space: pre-wrap !important; */
  /* letter-spacing: -0.1em; */
  /* font-family: "IBM Plex Sans Thai", sans-serif !important; */
  /* font-family: "font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' " !important;  */
}
