@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-gradient {
  font-weight: 800;
  background: linear-gradient(90deg, #ff7e47, #ec8dff, #ff6666, #ffcc66);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientShift 5s ease infinite;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  /* background: #efff00; */
  background: #3e3e3e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #efff00;
}

.bg-warning {
  background-color: #efff00 !important;
}
